@charset "utf-8";

@import url(font.css);

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

article,
aside,
hgroup,
header,
footer,
figure,
figcaption,
nav,
section,
time,
mark,
canvas,
video,
audio,
details,
summary,
main {
    display: block;
}

body {
    background: #f7f7f7;
    font-family: Malgun Gothic, nsk, '돋움', Dotum, Helvetica, sans-serif;
    outline:none;overflow-x:hidden;
}

a img{border:0;}
input,textarea,select {font-family:Malgun Gothic;vertical-align:middle;}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus{border-color:#ff5d46}
input, button{outline:none;}

/*nav*/
.top_info {
    color: #333;
    margin: 0 auto;
    text-align: center;
    height: 54px;
    font-family: Malgun Gothic, '돋움', Dotum;
    font-size: 16px;
    background: #f6f6f6;
    padding-top: 22px;
    letter-spacing: -0.06em;
}

.top_info div {
    line-height: 0;
}

.top_info i {
    color: #bac0c7;
    margin-right: 5px;
}

.top_info span {
    color: #ff5d46;
    font-size: 12px;
    letter-spacing: 0;
}

/*content*/
.content {
    padding-top: 36px;
    background: #f7f7f7;
    border-bottom: 1px solid #c2c5c9;
}

.content.pop{padding-top:0;}
/*title bar*/
.tit-bar {
    background: #fff;
    padding: 10px 14px;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #d7d8da;
    letter-spacing: -0.06em;
}

.pop .tit-bar{
    background: #4c5560;
    padding: 10px 14px;
    font-weight: bold;
    font-size: 15px;
    color:#fff;
}
.tit-bar i {
    color: #c1c6cb;
    margin-right: 3px;
}


/*Main*/

main {
    position: relative;
}

main.show-nav {
    margin-left: 200px;
}

main header {
    background: #48515a;
    padding: 4px;
    color: white;
    text-align: center;
    border-bottom: 3px solid #ff5d46;
}

main header h1 {
    font-family: nsk;
    font-size: 18px;
}

main header h1 span {
    font-weight: 200;
}

main header a#menu {
    position: absolute;
    left: 11px;
    top: 0px;
}

main header a#menu.show-menu {
    margin-left: 200px;
}



main header a.home-menu {
    position: absolute;
    right: 47px;
    top: 0px;
}

main header a.logout {
    position: absolute;
    right: 11px;
    top: 0px;
}

main header a {
    text-decoration: none;
    display: block;
    padding: 5px 3px 0;
}

main section {
    padding: 14px;
    overflow: hidden;
}

.date_ul li {
    background: #fff;
    display: inline-block;
    float: right;
    text-align: center;
    height: 65px;
    padding-top: 15px;
    font-family: nsk;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.06em;
}

.date_ul li strong {
    font-family: Malgun Gothic;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0;
}

.date_ul {
    width: 100%;
    display: block;
}

.date_ul .blue {
    color: #56779e;
    border-top: 1px solid #525f6d;
    border-bottom: 2px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    width: 25%;
}

.date_ul .yellow {
    color: #ff8a00;
    border-top: 1px solid #525f6d;
    border-bottom: 2px solid #e4e4e4;
    border-right: 1px dashed #b2b2b2;
    width: 25%;
}

.date_ul .red {
    color: #ff5d46;
    border-top: 1px solid #525f6d;
    border-bottom: 2px solid #e4e4e4;
    border-right: 1px dashed #b2b2b2;
    width: 25%;
}

.date_ul .gray {
    color: #485059;
    border-top: 1px solid #f7f7f7;
    border-bottom: 2px solid #f7f7f7;
    border-right: 1px solid #e4e4e4;
    width: 24.1%;
    background: #f7f7f7;
}

.count {
    padding-bottom: 0;
}

.chart {
    padding-top: 0;
    padding-bottom: 0;
}

.chart.last {
    padding-bottom: 20px;
}

.chart_01 {
    height: 220px;
    background: #fff;
    width: 39.5%;
    border: 1px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    margin-top: 8px;
    display: block;
    float: left;
    position: relative;
}

.chart_02 {
    height: 220px;
    background: #fff;
    width: 59.5%;
    border: 1px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    margin-top: 8px;
    display: block;
    float: right;
    position: relative;
}

.chart_03 {
    height: 265px;
    background: #fff;
    width: 59.5%;
    border: 1px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    margin-top: 8px;
    display: block;
    float: left;
    position: relative;
}

.chart_04 {
    height: 265px;
    background: #fff;
    width: 39.5%;
    border: 1px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    margin-top: 8px;
    display: block;
    float: right;
    position: relative;
}

.chart strong {
    font-family: nsk;
    color: #3c4a57;
    font-size: 16px;
    position: absolute;
    top: 12px;
    left: 15px;
    font-weight: 400;
    letter-spacing: -0.06em;
}

.chart strong i {
    color: #ccd2d7;
    margin-right: 3px;
}

.mem {
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
    padding-top:50px;
    display: block;
    position: relative;
}

.mem strong {
    color: #3c4a57;
    font-size: 16px;
    position: absolute;
    top: 18px;
    left: 0;
    font-weight: 500;
}

.q3_up {
    text-align: center;
}

.q3 {
    background: #f7f7f7;
    width: 32%;
    border: 1px solid #f7f7f7;
    display: inline-block;
    position: relative;
}

.q3 strong {
    color: #3c4a57;
    font-size: 16px;
    position: absolute;
    top: 18px;
    left: 0;
    font-weight: 500;
}

.q01 {
    float: left;
}

.q02 {
    float: center;
}

.q03 {
    float: right;
}

#grid_container {
    padding: 50px 15px 20px;

}


.mem>#grid_container {
    padding: 0;
}

.q3>#grid_container {
    padding: 0;
    margin-top: 50px;
}

.q3>#grid_container2 {
    padding: 0;
    margin-top: 50px;
}

.q3>#grid_container3 {
    padding: 0;
    margin-top: 50px;
}


#grid_touchkey {
    padding: 0px 0px 0px;

}


#touch_group {
    padding: 15px 15px 20px;

}

.mem>#touch_group {
    padding: 0;
}

.q3>#touch_group {
    padding: 0;
    margin-top: 15px;
}


#touch_key {
    padding: 15px 15px 20px;

}

.mem>#touch_key {
    padding: 0;
}

.q3>#touch_key {
    padding: 0;
    margin-top: 5px;
}



/*Nav*/

nav {
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 100%;
    background: #3f4449;
    color: white;
    top: 0;
    left: -200px;
    font-size: 16px;
    font-weight: bold;
}

nav ul li {
    font-family: nsk;
    font-size: 16px;
    font-weight: 400;
    padding: 0px;
    letter-spacing: -0.06em;
}

nav>ul>li>a {
    border-top: 1px solid #52606d;
    border-bottom: 1px solid #283440;
}

nav ul li span {
    padding-left: 10px;
}

nav ul li i.right-i {
    float: right;
    margin-top: 6px;
    color: #95a3b1;
    font-size: 14px;
}

nav ul li i.left-i {
    float: left;
    margin-top: 6px;
    color: #ff5d46;
    font-size: 14px;
}

nav ul ul li i.right-ii {
    float: right;
    margin-top: 7px;
    color: #78899a;
    font-size: 14px;
}

nav ul ul li i.active-i {
    float: right;
    margin-top: 7px;
    color: #78899a;
    font-size: 14px;
    display: none;
}

nav.show-nav {
    left: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    background: #48515a;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    display: block;
}

nav ul li a:hover,
nav ul li a:focus {
    background: #4a535d;
}

nav ul li a:hover>.right-i {
    color: #8394a6;
}

nav ul li a:hover>.right-ii {
    color: #8394a6;
}


nav ul li a:hover>.left-i {
    color: #ff6954;
}


/*Accordian*/


/*heading styles*/

#accordian h3 {
    font-size: 12px;
    line-height: 34px;
    padding: 0 10px;
    cursor: pointer;
    /*fallback for browsers not supporting gradients*/
    background: #003040;
}


/*links*/

#accordian ul ul li {}

#accordian ul ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 27px;
    display: block;
    padding: 4px 11px;
    /*transition for smooth hover animation*/
    transition: all 0.15s;
    background: #525f6d;
    border-bottom: 1px solid #3a4958;
    font-weight: 300;
}


/*Lets hide the non active LIs by default*/

#accordian ul ul {
    display: none;
}

#accordian li.active ul {
    display: block;
}

#accordian ul ul ul li a {
    color: #fff;
    font-size: 12px;
    display: block;
    padding: 5px 10px;
    /*transition for smooth hover animation*/
    transition: all 0.15s;
    font-weight: normal;
    font-family: Malgun Gothic;
    background: #434a52;
    letter-spacing: -0.06em
}

#accordian ul ul ul li a:hover,
#accordian .single_li a:hover {
    background: #323a42;
}

#accordian .single_li a {
    font-size: 12px;
    display: block;
    padding: 5px 10px;
    /*transition for smooth hover animation*/
    transition: all 0.15s;
    font-weight: normal;
    font-family: Malgun Gothic;
    background: #434a52;
}


/*Lets hide the non active LIs by default*/

#accordian ul ul ul {
    display: none;
}

#accordian ul li.active ul {
    display: block;
}

#accordian ul ul ul li {
    border: none;
}

.tab-menu{position: fixed;top:0;width:100%;}
.tabs{position: fixed;bottom:0;width:100%;}
.tabm{background: #d9dbdc;border-top:1px solid #c2c5c9;padding-bottom:1px;height: 40px;}
.tab_menu {
    font-family: Malgun Gothic;
    font-size: 13px;
    letter-spacing: -0.06em;
}

main{padding-bottom:0px;}
main.popup{padding-bottom:0;}
.tabbar{background:#f7f7f7;height:8px;}
.tab_menu li {
    display: inline-block;
    padding: 6px 12px 10px;
    background: #f7f7f7;
    border: 1px solid #c2c5c9;
    margin-top: -1px;
    font-weight: bold;
    float: left;
}

.tab_menu li:first-child {
    border-left: none;
}

.tab_menu li .fa {
    color: #c1c6cb;
    margin-left: 5px;
}

.tab_menu li.active {
    border-top: 1px solid #f7f7f7;
    border-bottom: 2px solid #677686;
    padding: 6px 12px 9px;
}

.tab_menu li a {
    text-decoration: none;
    color: #3c4a57;
}


/*common*/

.btn_group {
    overflow: hidden;
    text-align: center;
}

.btn_group.btn_right{position: absolute;top:0;right:0;}

.btn {
    display: inline-block;
    border-radius: 3px;
    background: #596878;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border: 1px solid #495665;
    padding: 6px 10px;
    margin: 10px 2px 0;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: Malgun Gothic;
}

.btn_med {
    display: inline-block;
    border-radius: 3px;
    background: #596878;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border: 1px solid #495665;
    padding: 4px 4px;
    margin: 4px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: Malgun Gothic;
    vertical-align:middle;
}

.btn2.btn_default {
    display: inline-block;
    border-radius: 3px;
    background: #596878; /* #596878 */
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border: 1px solid #495665;
    padding: 4px 10px;
    margin: 3px 2px 0;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: Malgun Gothic;
}

.btn2.btn_red {
    display: inline-block;
    border-radius: 3px;
    background: #ff5d46; /* #596878 */
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border: 1px solid #ee513b;
    padding: 4px 10px;
    margin: 3px 2px 0;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: Malgun Gothic;
}

.btn.mini {
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #8997a6;
    background: #8997a6;
    padding: 2px 10px;
    margin: 0;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn.gr {
    font-size: 12px;
    border: 1px solid #8290a0;
    padding: 2px 10px 4px;
    margin: 0;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background: #8997a6;
    margin-top:4px;
}

.btn_submit {
    background: #f77f1e;
    border: 1px solid #e9802c;
}

.btn_submit:hover {
    background: #e9802c;
}

.btn_org {
    background: #f09d28;
    border: 1px solid #e08f1c;
}

.btn_org:hover {
    background: #f99202;
}

.btn_red {
    background: #ff5d46;
    border: 1px solid #ee513b;
}

.btn_red:hover {
    background: #ee513b;
}

.btn>.fa {
    font-weight: normal;
}

.btn_default:hover {
    background: #495665;
}

.btn:after {
    opacity: 0;
    transition: all 0.8s;
}

.btn:active:after {
    opacity: 1;
    transition: 0s;
}
.btn2:after {
    opacity: 0;
    transition: all 0.8s;
}

.btn2:active:after {
    opacity: 1;
    transition: 0s;
}

.tit-bar {
    position: relative;
}

.btn_search1 {
    margin: 0;

    background: #ff5d46;
    color: #fff;
    padding: 9px 20px;
    border: none;
    font-family: nsk;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    display: block;
    float:right;
}

.btn_search1:hover {
    background: #485059;
}

.btn_search1:after {
    opacity: 0;
    transition: all 0.8s;
}

.btn_search1:active:after {
    opacity: 1;
    transition: 0s;
}

.btn_search {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;
    background: #ff5d46;
    color: #fff;
    padding: 9px 20px;
    border: none;
    font-family: nsk;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn_search:hover {
    background: #485059;
}

.btn_search:after {
    opacity: 0;
    transition: all 0.8s;
}

.btn_search:active:after {
    opacity: 1;
    transition: 0s;
}


.btn_closetop {
    float: right;
    margin-left: 2px;
    font-weight: 500;
    background: #485059;
    color: #fff;
    padding: 9px 20px;
    border: none;
    font-family: nsk;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn_closetop:hover {
    background: #485059;
}

.btn_closetop:after {
    opacity: 0;
    transition: all 0.8s;
}

.btn_closetop:active:after {
    opacity: 1;
    transition: 0s;
}

.btn_searchtop {
    float: right;
    margin-left: 2px;
    font-weight: 500;
    background: #ff5d46;
    color: #fff;
    padding: 9px 20px;
    border: none;
    font-family: nsk;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn_searchtop:hover {
    background: #485059;
}

.btn_searchtop:after {
    opacity: 0;
    transition: all 0.8s;
}

.btn_searchtop:active:after {
    opacity: 1;
    transition: 0s;
}



.mt5 {
    margin-top: 5px;
}

.inp_01 {
    border: 1px solid #c5c5c5;
    margin: 15px 15px 0;
    padding: 0;
    border-top: 1px solid #525f6d;
    background: #fff;
}

.inp_01 div {
    float: left;
    font-family: Malgun Gothic;
    font-size: 12px;
}

.inp_01_exc {
    border: 1px solid #c5c5c5;
    margin: 15px 15px 0;
    padding: 0;
    border-top: 1px solid #525f6d;
    background: #fff;
}

.inp_02_exc {
    border: 1px solid #c5c5c5;
    margin: 0 15px 0;
    padding: 0;
    border-top: none;
    background: #fff;
}

.inp_02 {
    border: 1px solid #c5c5c5;
    margin: 0 15px 0;
    padding: 0;
    border-top: none;
    background: #fff;
}

.inp_02 div {
    float: left;
    font-family: Malgun Gothic;
    font-size: 12px;
}

.inp_02 .mem_nm input {
    padding:0 5px;
    width: 103px;
}

.inp_02 .mem_nm textarea {
    padding:0 5px;
    width: 300px;
}

.inp_03 {
    border-bottom:1px solid #e0e3e6;
    margin: 0;
    padding: 0;
    border-top: none;
}

.inp_03 div {
    font-family: Malgun Gothic;
    font-size: 12px;
    text-align: center;
    display: inline-block;
}

.mem_nm div {
    width: 94px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    background: #eff2f5;
    height: 34px;
    line-height: 34px;
}

.mem_nm input {
    width: 96px;
    display: inline-block;
    height: 22px;
    border: 1px solid #ccc;
    margin: 5px;
    font-family: Malgun Gothic;
    font-size: 12px;
    vertical-align: middle;
    padding:0 5px;
}

.mem_nm textarea {
    width: 300px;
    display: inline-block;
    height: 36px;
    border: 1px solid #ccc;
    margin: 5px;
    font-family: Malgun Gothic;
    font-size: 12px;
    vertical-align: middle;
    padding:0 5px;
}

.mem_nm select {
    width: 108px;
    display: inline-block;
    height: 22px;
    border: 1px solid #ccc;
    margin: 5px;
    font-family: Malgun Gothic;
    font-size: 12px;
    vertical-align: middle;
}

.mem_no{padding-top:4px}
.mem_no div {
    display: inline-block;
    font-weight: bold;
    background: #fff;
    height: 34px;
    line-height: 30px;
    padding-right:8px;
}

.mem_no input {
    width: 96px;
    display: inline-block;
    height: 22px;
    border: 1px solid #ccc;
    margin: 0 5px;
    font-family: Malgun Gothic;
    font-size: 12px;
    vertical-align: middle;
    padding:0 5px;
}

.mem_no select {
    width: 108px;
    display: inline-block;
    height: 22px;
    border: 1px solid #ccc;
    margin: 0 5px;
    font-family: Malgun Gothic;
    font-size: 12px;
    vertical-align: middle;
}

.mem_cd div {
    width: 74px;
    display: inline-block;
    text-align: left;
    height: 34px;
    line-height: 28px;
    padding-left: 20px;
}

.mem_cd2 div {
    display: inline-block;
    text-align: left;
    height: 34px;
    line-height: 28px;
    padding-left: 20px;
}

.mem_cd3 div {
    display: inline-block;
    text-align: left;
    height: 34px;
    line-height: 28px;
    padding-left: 1px;
}

.mem_cd input {
    width: 96px;
    display: inline-block;
    height: 22px;
    border: 1px solid #ccc;
    margin: 5px;
    font-family: Malgun Gothic;
    font-size: 12px;
    padding:0 5px;
}

.mem_cd2 input {
    width: 96px;
    display: inline-block;
    height: 22px;
    border: 1px solid #ccc;
    margin: 5px;
    font-family: Malgun Gothic;
    font-size: 12px;
    padding:0 5px;
}

.mem_cd select {
    width: 108px;
    display: inline-block;
    height: 22px;
    border: 1px solid #ccc;
    margin: 5px;
    font-family: Malgun Gothic;
    font-size: 12px;
}

.mem_cd2 select {
    width: 108px;
    display: inline-block;
    height: 22px;
    border: 1px solid #ccc;
    margin: 5px;
    font-family: Malgun Gothic;
    font-size: 12px;
}

.mem_cd3 select {
    width: 115px;
    display: inline-block;
    height: 22px;
    border: 1px solid #ccc;
    margin: 5px;
    font-family: Malgun Gothic;
    font-size: 12px;
}

.chk input {
    font-family: Malgun Gothic;
    font-size: 12px;
    margin: 10px;
    vertical-align: middle;
}

.chk lable {
    font-family: Malgun Gothic;
    font-size: 12px;
    margin: 10px;
    vertical-align: middle;
}

.chk2 input {
    font-family: Malgun Gothic;
    font-size: 12px;
    margin: 10px 10px 10px 6px;
    vertical-align: middle;
}

.rdo1 input {
    font-family: Malgun Gothic;
    font-size: 12px;
    margin: 10px;
    vertical-align: middle;
}

.rdo input {
    font-family: Malgun Gothic;
    font-size: 12px;
    margin: 10px;
    vertical-align: middle;
}

.rdo lable {
    font-family: Malgun Gothic;
    font-size: 12px;
    margin: 10px;
    vertical-align: middle;
}

.inp_modal {
    border-top: 1px solid #c5c5c5;
    margin: 15px 15px 0;
    padding: 0;
    background: #fff;
}

.inp_modal div {
    font-family: Malgun Gothic;
    font-size: 12px;
    text-align: left;
    display: inline-block;
}

.pl10 {
    padding-left: 10px;
}

.inp_modal .bf {
    background: #fff;
}

.inp_modal .bf-nomal {
    background: #fff;
    font-weight: 300;
}

.mt0 {
    margin-top: 0;
}

.mem_nm .pl10 {
    width: 100px;
}

.inp_modal .mem_nm select {
    width: 115px;
}

.inp_modal .mem_nm input {
    padding:0 5px;
    width: 103px;
}

.inp_modal .cals {
    position: relative;
}

.inp_modal .cals a .fa.fa-calendar {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
}


.inp_02 .cals a .fa.fa-calendar {
    position: relative;
    top: 1px;
    right: 23px;
    color: #000;
}

.btn_search i {
    color: #fff;
}

nav {
    z-index: 2
}

header {
    z-index: 1
}


/*modal*/

section.modal {
    /* display: none; */
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
}

section.modalWindow {
    /* display: none; */
    display: block;
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 999 !important;
    width: 757px;
    min-height: 200px;
    margin-left: -378px;
    background: #fff;
    cursor: default;
}

section.modal1 {
    /* display: none; */
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

section.modalWindow1 {
    /* display: none; */
    display: block;
    position: fixed;
    top: 10%;
    left: 50%;
    width: 757px;
    min-height: 200px;
    margin-left: -378px;
    background: #fff;
    cursor: default;
}

section.modalWindow.editlc {
    /* display: none; */
    display: block;
    position: fixed;
    top: 5%;
    left: 50%;
    z-index: 999 !important;
    width: 850px;
    min-height: 200px;
    margin-left: -425px;
    background: #fff;
    cursor: default;
}
/*

section.modalWindow.info {
    display: none;
    position: absolute;
    top: -270px;
    left:0px;
    right:0px;
    bottom:0px;
    margin:auto;
    z-index: 999 !important;
    width: 1000px;
    min-height: 200px;
    margin-left: -500px;
    background: #fff;
    cursor: default;
    background: #f7f7f7;
    border-top:2px solid #414e5c;
}
*/

section.modalWindow.info {
    /* display: none; */
    display: block;
    position: absolute;
    /* top:-260px; */
    top: 0px;
    margin:auto;
    z-index: 999 !important;
    width: 100%;
    min-height: 200px;
    margin-left: -50%;
    background: #fff;
    cursor: default;
    background: #f7f7f7;
    border-top:2px solid #414e5c;
}


section.modal.overlay {
    /* display: none; */
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 0;
    cursor: pointer;
}

section.modalWindow {
    padding: 0;
}

section.modalWrapper {
    padding: 0;
    font-family: Malgun Gothic;
    font-size: 12px;
}


section.modalWindow1 section.modalWrapper1 .head {
    background: #4c5560;
    color: #fff;
    font-size: 15px;
    padding: 10px 11px 10px 15px;
    position: relative;
    letter-spacing: -0.06em;
}

section.modalWindow section.modalWrapper .head {
    background: #4c5560;
    color: #fff;
    font-size: 15px;
    padding: 10px 11px 10px 15px;
    position: relative;
    letter-spacing: -0.06em;
}

section.modalWindow section.modalWrapper .head.tab{
    background: #f7f7f7;
    color:#414e5c;
    padding: 15px 15px 0;
    overflow: hidden;
}

section.modalWindow.info .closeBtn .fa-times-circle {
    top:15px;
}

section.modalWindow section.modalWrapper .head.tab div{
    background: #fff;
    color:#414e5c;
    padding: 5px 13px;
    position: relative;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    border:1px solid #414e5c;
    margin:0;
    float:left;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

section.modalWindow section.modalWrapper .head.tab div.on{
    background: #414e5c;
    color:#fff;
}

.closeBtn {
    cursor: pointer;
}

.closeBtn .fa-times-circle {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: #afb3b8;
}



.lst_01{background: #f7f7f7;min-height:160px;border-bottom:1px solid #d9d9d9;}
.lst_01 div{display: inline-block;}
.lst_01 ul{height:50px;display: inline-block;}
.lst_01 ul li{width:83px;height:18px;background: #373737;color:#fff;display:inline-block;margin:0;padding:15px;font-weight: bold;border:1px solid #d5d7d8;font-size: 14px;}
.lst_01 ul li.active{border:3px solid #ff5d46;padding:13px}
.lst_01 ul li.blank{background: #fff;}

.lst_01 .nav_btn_group{display: block;}

.lst_02{background: #f7f7f7;min-height:180px;border-bottom:1px solid #d9d9d9;}
.lst_02 div{display: inline-block;}
.lst_02 ul{height:50px;display: inline-block;}
.lst_02 ul li{width:83px;height:40px;background: #373737;color:#fff;display:inline-block;margin:0;padding:4px 15px;font-weight: bold;border:1px solid #d5d7d8;font-size: 14px;}
.lst_02 ul li span{font-weight: normal;font-size:12px;}
.lst_02 ul li.active{border:3px solid #ff5d46;padding:1px 13px}
.lst_02 ul li.blank{background: #fff;}
.lst_02 ul li.cola{background: #ffdc7e;color:#000;}
.lst_02 ul li.orange{background: #f6782b;}

.lst_02 .nav_btn_group{display: block;}


.nav_btn{width:33px;background: #c4c7ca;border:1px solid #c4c7ca;margin:0;margin-top:10px;margin-right:2px;}
.nav_btn.active{background: #596878;border:1px solid #596878;}


.lst_01{position:relative;}
.lst_01 .modal_aside{
    display: block;
    position: absolute;
    top:9px;right:0;
    padding-right:15px;
    float:right;
    width:210px;
    
}
.lst_02{position:relative;}
.lst_02 .modal_aside{
    display: block;
    position: absolute;
    top:9px;right:0;
    padding-right:15px;
    float:right;
    width:210px;
    
}


.aside_inp{display: block;}
.aside_inp .btn_default{font-weight: normal;}
.aside_inp div {
    display: inline-block;
    font-weight: bold;
    background:url(../img/inp_dot.png)no-repeat 0px 13px;
    height: 22px;
    padding-right:8px;
    padding-left:12px;
    padding-top:7px;
    width:77px;
}

.aside_inp input {
    width: 96px;
    display: inline-block;
    height: 22px;
    border: 1px solid #ccc;
    font-family: Malgun Gothic;
    font-size: 12px;
    vertical-align: middle;
    padding:0 5px;
}

.aside_inp select {
    width: 108px;
    display: inline-block;
    height: 22px;
    border: 1px solid #ccc;
    font-family: Malgun Gothic;
    font-size: 12px;
    vertical-align: middle;
}

iframe{width:100%;height:100%;border:1px solid #ddd;}

/* 메인화면 iframe보이고 안보이고... */
.content>.tab-pane,
.pill-content>.pill-pane {
	display:none
}

.content>.active,
.pill-content>.active {
	display:block
}

.fileBox .fileName {
	width: 200px;
    display: inline-block;
    height: 22px;
    border: 1px solid #ccc;
    margin: 5px;
    font-family: Malgun Gothic;
    font-size: 12px;
    vertical-align: middle;
    padding:0 5px;
}
.fileBox .btn_file {
	display:inline-block;
	border:1px solid #000;
	background: #414e5c;
    color: #fff;
	width:100px;
	height:22px;
	font-family: Malgun Gothic;
	font-size:12px;
	line-height:22px;
	text-align:center;
	vertical-align:middle
	}
.fileBox input[type="file"] {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	border:0
	}